.clients {
  background-image: url(~img/background.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 45px;
  padding-bottom: 29px;
  overflow: hidden;

  @include breakpoint(medium) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  @include breakpoint(large) {
    padding-top: 68px;
    padding-bottom: 85px;
  }

  &__border {
    padding-right: $padding-right;
    padding-left: $padding-left;
    @include breakpoint(medium) {
      padding-left: $padding-left-tablet;
      padding-right: $padding-right-tablet;
    }
  }

  &__container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    @include breakpoint(large) {
      margin-bottom: 66px;
    }
  }


  &__symbol {
    background-image: url(~img/symbol.png);
    background-size: 18px;
    background-repeat: no-repeat;
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
  }

  &__text {
    color: #797979;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 15px;
  }

  &__logo {
    position: absolute;
    z-index: 100;
    right: 20px;
    bottom: -35px;
    
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: white;
    background-size: 74%;
    background-image: url(~img/slider-2.7.png);
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 12px 0 20px rgba(0,0,0,0.25);
    
    @include breakpoint(large) {
      width: 100px;
      height: 100px;
      bottom: -55px;
    }
  }


  &__name {
    font-size: rem(15);
  }
  
  &__logo--one {
    z-index: 12;
  }


  &__tile-block {
    background-color: white;
    padding-right: $padding-right;
    padding-left: $padding-left;
    padding-top: 27px;
    position: relative;
    padding-bottom: 38px;
    margin-bottom: 37px;
    margin-right: 30px;    
    @include breakpoint(large) {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}


.slider-three {
  margin-right: - $padding-right;
  margin-left: - $padding-left;
  
  @include breakpoint(large) {
    display: flex;
    justify-content: space-between;
    margin-right: 0;
    margin-left: 0;
  }
  
  .slick-list {    
    padding-right: 60px!important;
    @include breakpoint(large) {
      padding-right: 30px!important;
    }
  }
}





