.footer {
  background-color: black;
  padding-top: 25px;
  color: #A7A7A7;

  &__border {
    padding-right: $padding-right;
    padding-left: $padding-left;
    @include breakpoint(medium) {
      padding-left: $padding-left-tablet;
      padding-right: $padding-right-tablet;
    }
  }

  &__container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }

  &__copy {
    font-size: 12px
  }


  &__box {
    margin-bottom: 40px;
    @include breakpoint(medium) {
      width: 50%;
    }

    @include breakpoint(large) {
      width: 25%;
    }
  }

  &__box:nth-of-type(2) {
    margin-bottom: 22px;;
  }

  &__box:nth-of-type(3) {
    margin-bottom: 18px;;
  }

  &__box:nth-of-type(4) {
    margin-bottom: 22px;
  }

  &__image {
    background-image: url(~img/logo2.png);
    background-size: contain;
    width: 169px;
    height: 47px;
    background-repeat: no-repeat;
    background-position: center;

  }

  &__title {
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    color: #A7A7A7;
    margin-bottom: 18px;
  }

  &__subtitle {
    font-size: 16px;
    color: #A7A7A7;
  }

  &__logo {
    /*background-image: url(~img/LI-In-Bug.png);*/
    background-repeat: no-repeat;
    width: 50px;
    height: 47px;
    background-size: contain;   
  }

  &__top-block {
    padding-bottom: 17px;
    @include breakpoint(medium) {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      padding-top: 30px;
    }
  }

  &__logo--tweet {
    width: 27px;
    margin-right: 10px;
    
  }
  &__logo--id {
    background-image: url(~img/LI-In-Bug.png);
    height: 27px;
    width: 30px;
    margin-right: 10px;
  }
  &__logo--fb {
    background-image: url(~img/fb.png);
    background-repeat: no-repeat;
    width: 10px;
    height: 40px;
  }

  &__logo-box {
    display: flex;
  }

  &__bottom-block {
    display: flex;
    align-items: center;
    padding-left: $padding-left;
    padding-right: $padding-right;
    justify-content: space-between;
    background-color: #272726;
    padding-top: 23px;
    padding-bottom: 20px;

    @include breakpoint(medium) {
      padding-left: $padding-left-tablet;
      padding-right: $padding-right-tablet;
    }

    @include breakpoint(large) {
      display: none;
    }
  }

  &__num {
    padding-left: 30px;
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 20.5px;
    line-height: 25px;
    color: #FFFFFF;
  }

  &__num::before {
    content: url(~img/phone.png);
    height: 50px;
    width: 50px;
    position: absolute;
    left: 0;
  }

  &__btn {
    background-color: white;
    color: red;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 23px;
    padding-right: 23px;
    font-size: 13px;
    text-transform: uppercase;
  }

  &__link {
    &:hover {
      color: $color;
    }
  }


}
