.hero {
  background-image: url(~img/main.png);
  padding-top: 53px;
  padding-bottom: 72px;
  
  @include breakpoint(large) {
    padding-top: 0;
    padding-bottom: 50px;    
  }

  &__sub{
    padding-bottom: 52px;  
  }
  
  &__container {
    max-width: 1450px;
    margin-left: auto;
    margin-right: auto;
  }

  &__content {
    z-index: 2;
  }

  &__background {

    top: 0;


    width: 100%;
    z-index: 0;
    @include breakpoint(large) {      
      padding-top: 34px;
    }
  }

  &__border {
    padding-left: 30px;
    padding-right: 30px;
   
   
  }

  &__logo {
    width: 168px;
    height: 47px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(~img/logo2.png);
    margin-bottom: 20px;
    @include breakpoint(large) {
      width: 200px;
      height: 58px;
    }
  }

  &__mouse {
    display: none;
    @include breakpoint(large) {
      display: block;
      height: 45px;
      width: 30px;
      margin-right: auto;
      margin-left: auto;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(~img/mouse.png);
    }
  }

  &__contact-tel {
    padding-top: 8px;
    font-weight: 700;
    font-size: 16px;
    color: white;
    transition: color 0.1s ease;
    
    &:hover {
      color: $color;
    }
  }


  &__top-box {
    display: flex;
    justify-content: center;
    @include breakpoint(medium) {
      margin-bottom: 45px;
    }
    @include breakpoint(large) {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      margin-bottom: 86px;
    }

  }

  &__contact-box {
    display: none;
    @include breakpoint(large) {
      display: flex;
    }
  }

  &__title {
    margin-bottom: 22px;
    max-width: rem(500);
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(medium) {
      max-width: 100%;
    }


    @include breakpoint(large) {

      margin-bottom: 48px;
    }
  }


  &__phone {
    position: relative;
    top: 8px;

    background-repeat: no-repeat;
    background-image: url(~img/phone.png);
    height: 20px;
    width: 20px;
    margin-right: 8px;
  }

  &__lead-wrapper {
    max-width: rem(370);
    margin-left: auto;
    margin-right: auto;
    
    @include breakpoint(large) {
      max-width: rem(780);
    }
  }

  &__article {
    margin-bottom: 37px;
    padding: 0 rem(20);

    @include breakpoint(large) {
      
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 72px;
    }
  }

  &__btn {
    @include breakpoint(large) {
      height: 50px;
    }
  }

  &__contact-btn-text {
    color: $color;
    background-color: white;
    padding: 12px;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 30px;
    transition: background-color 0.15s ease, color 0.15s ease;
    
    &:hover {
      background-color: $color;
      color: #ffffff;
      
    }
  }

  &__form-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 32px;
    padding-top: 38px;
    display: block;
    max-width: rem(550);
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(large) {
      max-width: 860px;
      margin-left: auto;
      margin-right: auto;
      padding: 30px;
      margin-bottom: 45px;
    }
   

    form {
      display: block;
      @include breakpoint(large) {
        display: flex;
        justify-content: space-between;
      }
    }

    input {
      width: 100%;
      margin-bottom: 14px;
      height: 50px;
      display: block;
      padding: 0 rem(20);
      border: 1px solid transparent;

      &::placeholder {
        font-size: rem(14);
      }
      
      &:focus {
        outline: none;
        border: 1px solid $color;
      }

      @include breakpoint(large) {
        display: flex;
        width: 29%;
        margin-bottom: 0;
      }
    }

  }

  &__arrow-left {
    position: absolute;
    background: url('~img/arrow-2.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 66px;
    height: 80px;
    top: 3px;
    left: -22px;
    @include breakpoint(large) {
      width: 86px;
      height: 90px;
      top: 25px;
      left: -142px;
      transform: rotate(-45deg);
    }
  }

  &__arrow-left-sub{
    position: absolute;
    background: url('~img/arrow-2.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 66px;
    height: 80px;
    bottom:225px;
    left: -22px;
    @include breakpoint(smedium) {
      bottom:125px;
    }
    @include breakpoint(large) {
      width: 86px;
      height: 90px;
      top: 25px;
      left: -142px;
      transform: rotate(-45deg);
    }
  }



  &__arrow-right-sub {
    position: absolute;
    background: url('~img/arrow-1.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 72px;
    height: 95px;
    top: -192px;
    right: -24px;
    @include breakpoint(smedium) {
      top: -30px;
      right: -34px;
    }
    @include breakpoint(large) {
      width: 100px;
      height: 125px;
      top: 220px;
      right: -40px;
      transform: rotate(45deg)
    }
  }



  &__arrow-right {
    position: absolute;
    background: url('~img/arrow-1.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 72px;
    height: 95px;
    top: -52px;
    right: -24px;
    @include breakpoint(large) {
      width: 100px;
      height: 125px;
      top: -12px;
      right: -154px;
      transform: rotate(45deg)
    }
  }

  &__progress-box{
    padding-top:10px;
    width:100%;
    max-width:1170px;
    margin-left:auto;
    margin-right:auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom:30px;
    @include breakpoint(large) {
      display: flex;

    }
  }

  &__progress-text{
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    margin-bottom:10px;
    text-transform: uppercase;
    color: #FFFFFF;
    @include breakpoint(large) {
      font-size: 15px;
      margin-bottom:15px;
      height:20px;
      padding-top:10px;
    }
  }

  &__progress-text--red{
    color:red;
  }

  &__progress-bar{
    background: rgba(255, 255, 255, 0.3);
    height:20px;
    width: 90%;
    margin-right:10px;
    @include breakpoint(large) {
      max-width:715px;
    }
  }

  &__bar{
    display:flex;
    align-items: center;
    @include breakpoint(large) {
      width:66%;
      display:flex;
    }
  }

  &__progress-level{
    background-image: linear-gradient(45deg, #ff0000 25%, #ed5c5c 25%, #ed5c5c 50%, #ff0000 50%, #ff0000 75%, #ed5c5c 75%, #ed5c5c 100%);
    background-size: 30px 30px;    
    height:20px;    
    width:66%;
    animation: move 2s linear infinite;        
  }

  &__progress-timer{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 2;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
    min-width: 40px;
    @include breakpoint(large) {
      font-size: 18px;
      min-width: 60px;
    }
  }
  &__form-box-sub {
    background: rgba(255, 255, 255, 0.1);
    padding: 32px;
    padding-top: 38px;
    display: block;
    max-width: rem(550);
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(large) {
      max-width: 610px;
      margin-left: auto;
      margin-right: auto;
      padding: 30px;
      margin-bottom: 45px;
    }
   

    form {
      display: block;
      @include breakpoint(large) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }

    input {
      width: 100%;
      margin-bottom: 14px;
      height: 50px;
      display: block;
      padding: 0 rem(20);
      border: 1px solid transparent;

      &::placeholder {
        font-size: rem(14);
      }
      
      &:focus {
        outline: none;
        border: 1px solid $color;
      }

      @include breakpoint(large) {
        display: flex;
        width: 49%;
        margin-bottom: 15px;
      }
    }

  }
  &__btn-sub{
    width:100%;      
  }

  &__content-sub{
    padding-top:0px;
  }

  &__top-box-sub{
    margin-bottom:10px;
  }

  &__article-sub{
    @include breakpoint(large) {
      max-width: 665px;
      text-align: left;
  }
  }
}

.hero.--observe {
  .hero__title {
    opacity: 0;
    transition: opacity 0.4s ease-out, opacity 0.4s ease-out;
    transform: scale(0.9);    
  }
  
  .hero__article {
    opacity: 0;
    transform: translateY(-10px);    
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  }
  
  .hero__form-box {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.4s ease-out, opacity 0.4s ease-out;    
  }
  
  .hero__arrow-left, 
  .hero__arrow-right {
    opacity: 0;
    transition: opacity 0.4s ease-out, opacity 0.4s ease-out;
  }
}

.hero.--observe.in-viewport {
  .hero__title {
    opacity: 1;
    transform: scale(1);
  }

  .hero__article {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.5s;
  }

  .hero__form-box {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.75s;
  }

  .hero__arrow-left,
  .hero__arrow-right {
    opacity: 1;
    transition-delay: 0.95s;
    
  }

  .hero__arrow-right {
    opacity: 1;
    transition-delay: 1.25s;
  }
}


.hero__sub {  
  @include breakpoint(1024) {
    min-height: 900px;  
  } 
}


@keyframes move {
  0% {
    background-position-x: 0;    
  }
  100% {
    background-position-x: 120px;
  }
}
