
.offer {
  background-color: #F7F7F7;;
  padding-top: 40px;
  padding-bottom: 32px;

  @include breakpoint(medium) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include breakpoint(large) {
    padding-top: 80px;
    padding-bottom: 93px;
  }

  &__border {
    padding-left: $padding-left;
    padding-right: $padding-right;

    @include breakpoint(medium) {
      padding-left: $padding-left-tablet;
      padding-right: $padding-right-tablet;
    }
  }

  &__container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
    @include breakpoint(medium) {
      margin-bottom: 74px;
    }
  }

  &__tiles-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__tile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: white;
    width: 48%;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 10px;
    padding-right: 10px;  
    
    @include breakpoint(large) {
      width: 23%;
      padding-top: 50px;
      padding-left: 27px;
      padding-right: 27px;
    }

    &:hover {
      .offer__tile-icon {
        &::before {
          transform: scale(1.4);
        }  
      }      
    }
    
    
    &:nth-child(2) {
      transition-delay: 0.2s;
    }
    
    &:nth-child(3) {
      transition-delay: 0.3s;
    }

    &:nth-child(4) {
      transition-delay: 0.4s;
    }
  }


  &__tile:nth-last-of-type(4) {
    margin-bottom: 19px;
    @include breakpoint(large) {
      margin-bottom: 0px;
    }
  }

  &__tile:nth-last-of-type(3) {
    margin-bottom: 19px;
    @include breakpoint(large) {
      margin-bottom: 0px;
    }
  }

  &__tile-icon {
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    background-position: center;
    height: 60px;
    
    @include breakpoint(large) {
      height: 85px;
      margin-bottom: 13px;
    }
    
    

    &::before {
      content: '';
      position: absolute;
      background-color: rgba($color, 0.1);
      width: 65px;
      height: 65px;
      border-radius: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      transition: transform 0.4s cubic-bezier(0,1.02,.44,2);

      @include breakpoint(large) {
        width: 95px;
        height: 95px;
      }
    }

  }

  &__tile-icon--one {
    background-image: url(~img/item-1.png);
  }

  &__tile-icon--two {
    background-image: url(~img/item-2.png);
  }

  &__tile-icon--three {
    background-image: url(~img/item-3.png);
  }

  &__tile-icon--four {
    background-image: url(~img/item-4.png);
  }

  &__tile-text {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    height: 50%;
    padding-top: 23px;
    line-height: 1.27;
    text-align: center;
    @include breakpoint(large) {
      font-size: 16px;
      padding-bottom: 27px;
    }
  }
}






















