.partners {
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  padding-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
}

.partners__title {
  font-size: rem(12);
  text-transform: uppercase;
  margin-bottom: rem(20);
  color: #797979;
}


.partners__sub{
  height:110px;
  @include breakpoint(large) {
    height:147px;
  }
}

.partners__slider {
  .slick-slide {

    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .slick-slide > div {

    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

}

.partners__slider-slide {
  display: inline-flex !important;
  align-items: center;
  margin-right: 30px;
  max-height: 30px;
  height: 30px;
  padding-right: 30px;
  
  @include breakpoint(large) {
    max-height: 40px;
    height: 40px;
    padding-right: 30px
  }
}

.partners__slider-item {
  display: block;
  object-fit: contain;
  max-width: 100%;
  height: 30px;
  @include breakpoint(large) {
    max-height: 40px;
    height: 40px;
  }
}


.partners--two {
  .partners__slider-slide {
    max-height: 45px;
    height: 45px;
  }

  .partners__slider-item {
    max-height: 75%;
  }
}


.partners--three {
  border-top: 1px solid #e0e0e0;
  padding-bottom: rem(30);

  .partners__slider-item {
    max-height: 75%;
  }
}


.partners--four {
  padding-top: rem(35);
  padding-bottom: rem(35);
}

