.trends {
  background-color: white;
  padding-bottom: 35px;
  border: 1px solid #E0E0E0;
  width: 100%;
  padding-top: 0;

  @include breakpoint(850) {
    padding-top: rem(80);
  }

  @include breakpoint(large) {
    padding-top: rem(85);
    margin-bottom: rem(-80);
  }

  &__arrow-1,
  &__arrow-2,
  &__arrow-3, {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;


    @include breakpoint(850) {
      display: none;
    }

    @include breakpoint(large) {
      display: block;
      left: auto;
      right: 0;
      top: 0;
      bottom: auto;
      
    }

  }

  &__arrow-1 {
    width: 15%;
    left: -35%;
    bottom: -7%;

    @include breakpoint(600) {
      left: -30%;
      bottom: -15%;
    }

    @include breakpoint(large) {
      top: 50px;
      right: 50px;
      left: auto;
      bottom: 0;
      transform: rotate(-90deg)
    }
  }

  &__arrow-2 {
    bottom: -4%;
    transform: rotate(90deg);
    width: 15%;
    
    @include breakpoint(600) {
      bottom: -14%;
      left: 5%;
    }

    @include breakpoint(large) {
      top: 75px;
      right: 50px;
      left: auto;
      bottom: auto;
      transform: rotate(0deg)
    }
  }

  &__arrow-3 {
    transform: rotate(90deg);
    width: 15%;
    right: -30%;
    bottom: -10.5%;
    
    @include breakpoint(600) {
      bottom: -19%;
      right: -35%;
    }

    @include breakpoint(large) {
      top: 185px;
      right: 50px;
      left: auto;
      bottom: auto;
      transform: rotate(0deg)
    }
  }

  &__borders {
    padding-left: $padding-left;
    padding-right: $padding-right;
    @include breakpoint(medium) {
      padding-left: $padding-left-tablet;
      padding-right: $padding-right-tablet;
    }
  }

  &__col-one {
    margin-bottom: 18%;

    @include breakpoint(850) {
      width: 50%;
      margin-bottom: 0;
      max-height: 705px;
    }
  }

  &__col-two {
    
    @include breakpoint(850) {
      width: 50%;
    }
  }

  &__content {
    @include breakpoint(850) {
      display: flex;
    }
  }

  &__container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;


  }

  &__book {
    background-image: url(~img/bg-book.png);
    background-repeat: no-repeat;
    background-size: 150%;
    height: 560px;
    width: 410px;
    background-position: center left;
    position: relative;
    left: -90px;
    top: -85px;
    margin-bottom: -100px;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(850) {
      margin-right: 0;
      top: 0;
      width: 460px;
      height: 560px;
    }


    @include breakpoint(large) {
      background-size: cover;
      background-position-y: -150px;
      height: 865px;
      width: 150%;
      left: -45%;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 850;
    font-size: 36px;
    line-height: 1.3;
    margin-bottom: 20px;
    text-align: center;

    @include breakpoint(medium) {
      text-align: center;
    }


    @include breakpoint(large) {
      width: 100%;
      font-size: 47px;

    }
  }

  &__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.3;
    color: #797979;
    margin-bottom: 17px;
    text-align: center;

    @include breakpoint(medium) {
      text-align: center;
    }

    @include breakpoint(large) {
      font-size: 30px;
      line-height: 1.2;
      text-align: left;
    }
  }

  &__text-box {
    margin-bottom: 24px;
  }

  &__form-box {
    padding-top: 25px;
    background-color: #282828;
    height: 400px;
    padding-left: 37px;
    padding-right: 37px;
    @include breakpoint(large) {
      padding-top: 35px;
      padding-left: 45px;
      padding-right: 45px;
      height: 304px;
    }

    form {
      display: flex;
      flex-wrap: wrap;

      @include breakpoint(large) {
        justify-content: space-between;
      }
    }

    input {
      display: block;
      width: 100%;
      height: 50px;
      margin-bottom: 10px;
      padding-left: rem(18);      
      border: 1px solid transparent;
              
      &::placeholder {
        font-size: rem(14);
      }
      
      &:focus {
        outline: none;
        border: 1px solid $color;
      }
      

      @include breakpoint(large) {
        width: 49%;
      }
    }

    label {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 28px;
      width: 100%;

    }
  }

  &__article {
    @include breakpoint(large) {
      line-height: 1.8;
    }
  }

  &__btn {
    width: 100%;
  }
}


.trends__book-wrapper {
  padding-top: 120%;
  position: relative;
  margin-left: -30px;
  margin-right: -30px;

  @include breakpoint(600) {
    padding-top: 80%;
  }

  @include breakpoint(medium) {
    margin-left: -50px;
    margin-right: -30px;
  }

  @include breakpoint(850) {
    padding-top: 150%;
  }

  .trends__book-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 100%;
    background-image: url('~img/bg-book.png');
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: 45% center;
    pointer-events: none;

    @include breakpoint(600) {
      background-size: 100%;
    }

    @include breakpoint(850) {
      background-position: left left;
      background-size: 140%;
    }

    @include breakpoint(large) {
      background-position-x: left;
      background-position-y: -345%;
      background-size: 140%;
      margin-left: -200px;
      margin-top: -40px;
    }

  }
}

























