.--observe {
  &.appear-up {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.4s ease-out, transform 0.4s ease-out 
  }
}

.--observe.in-viewport {
  &.appear-up {
    opacity: 1;
    transform: translateY(0px);
  }
}
