html,
body {
  text-rendering: optimizeLegibility;
  
}
  
h1, h2, h3, h4, h5, h6, p, ul, dl, dd, dt {
  padding: 0;
  margin: 0;
  line-height: 1;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

ul {
  list-style-type: none;
}
  
address {
  font-style: normal;
}
  
a {
  text-decoration: none;
}

button {
  cursor: pointer;
}


.l-borders {
	padding-left: $padding-left;
	padding-right: $padding-right;
}

.l-container {
	max-width: 1035px;
	margin-left: auto;
	margin-right: auto;
}

main {
	width: 100%;
	overflow-x: hidden
}
